@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../sass/style.scss */
html,
body {
  height: 100%;
}

/* line 12, ../sass/style.scss */
body {
  color: #545454;
  font-family: 'Montserrat', 'Lato', '微軟正黑體', STHeiti, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.085rem;
  line-height: 1.6;
  overflow-x: hidden;
}

/* line 22, ../sass/style.scss */
a {
  color: #333;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
/* line 25, ../sass/style.scss */
a:hover, a:focus, a:active {
  color: #FC6C4D;
  text-decoration: none;
}

/* line 31, ../sass/style.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 42, ../sass/style.scss */
button, input, optgroup, select, textarea {
  font-family: "Montserrat", "Lato", "微軟正黑體", STHeiti, sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 47, ../sass/style.scss */
section {
  position: relative;
  /*使用者自訂顏色*/
}
/* line 49, ../sass/style.scss */
section.normal {
  padding: 100px 0 0;
}
/* line 51, ../sass/style.scss */
section.normal:last-child {
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  /* line 49, ../sass/style.scss */
  section.normal {
    padding: 70px 0 0;
  }
  /* line 56, ../sass/style.scss */
  section.normal:last-child {
    padding: 70px 0;
  }
}
/* line 63, ../sass/style.scss */
section#news {
  padding: 100px 0;
  background-color: #D8D3CD;
}
/* line 67, ../sass/style.scss */
section#news .cgc-title {
  color: #003168;
}
/* line 70, ../sass/style.scss */
section#news .cgc-text {
  color: #6DAACC;
}
@media only screen and (max-width: 768px) {
  /* line 63, ../sass/style.scss */
  section#news {
    padding: 70px 0;
  }
}
/* line 81, ../sass/style.scss */
section#parallax .parallax:before {
  background-color: #003168;
  opacity: 0.65;
}
/* line 87, ../sass/style.scss */
section#parallax .cgc-title {
  color: #D8D3CD;
}
/* line 90, ../sass/style.scss */
section#parallax .cgc-text {
  color: #6DAACC;
}
/* line 96, ../sass/style.scss */
section#products {
  padding: 100px 0;
  background-color: #003168;
  z-index: 1;
}
/* line 101, ../sass/style.scss */
section#products .cgc-title {
  color: #D8D3CD;
}
/* line 104, ../sass/style.scss */
section#products .cgc-text {
  color: #6DAACC;
}
@media only screen and (max-width: 768px) {
  /* line 96, ../sass/style.scss */
  section#products {
    padding: 70px 0;
  }
}
/* line 118, ../sass/style.scss */
section#cta .cta {
  background-color: #D8D3CD;
}
/* line 122, ../sass/style.scss */
section#cta .cgc-title {
  color: #106FC7;
}
/* line 125, ../sass/style.scss */
section#cta .cgc-text {
  color: #FFEF9A;
}
/* line 132, ../sass/style.scss */
section#cta .cta-btn .btn:hover, section#cta .cta-btn .btn:focus, section#cta .cta-btn .btn:active {
  color: #D8D3CD;
}

/* line 140, ../sass/style.scss */
::-webkit-selection {
  color: #fff;
  background: #FC6C4D;
}

/* line 145, ../sass/style.scss */
::-moz-selection {
  color: #fff;
  background: #FC6C4D;
}

/* line 150, ../sass/style.scss */
::selection {
  color: #fff;
  background: #FC6C4D;
}

/* line 155, ../sass/style.scss */
.solidblockmenu.sticky {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border: none;
}

/* line 166, ../sass/style.scss */
.header-area {
  -webkit-box-shadow: 0 3px 4px rgba(57, 63, 72, 0.2);
  -moz-box-shadow: 0 3px 4px rgba(57, 63, 72, 0.2);
  box-shadow: 0 3px 4px rgba(57, 63, 72, 0.2);
}
/* line 170, ../sass/style.scss */
.header-area.cgc-bg {
  background-color: #BDBDBD;
}
/* line 173, ../sass/style.scss */
.header-area .header-inner {
  padding: 0 60px;
  position: relative;
  text-align: center;
  z-index: 10;
  border-bottom: none;
  padding: 0;
}
/* line 180, ../sass/style.scss */
.header-area .header-inner .horizontal-menu {
  padding-right: 50px;
}
/* line 183, ../sass/style.scss */
.header-area .header-inner .box-right {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 191, ../sass/style.scss */
.header-area .header-inner .box-right .dropdown-toggle:after {
  display: none;
}
/* line 196, ../sass/style.scss */
.header-area .header-inner .box-right #language .lan {
  font-size: 13px;
  background-color: #ffffff;
  border-color: #333;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 202, ../sass/style.scss */
.header-area .header-inner .box-right #language .dropdown-menu {
  top: 100%;
  right: 0;
  left: auto !important;
  margin: 0;
  padding: 6px 35px !important;
  background: #333 none repeat scroll 0 0;
  border: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  transform: translateX(0) !important;
  transform: translateY(48px) !important;
  will-change: unset !important;
  z-index: 1;
}
/* line 219, ../sass/style.scss */
.header-area .header-inner .box-right #language .dropdown-menu .mini-cart-sub li {
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
  overflow: hidden;
}
/* line 223, ../sass/style.scss */
.header-area .header-inner .box-right #language .dropdown-menu .mini-cart-sub li:last-child {
  border: none;
}
/* line 227, ../sass/style.scss */
.header-area .header-inner .box-right #language .dropdown-menu .mini-cart-sub li.cart-total-box a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
/* line 236, ../sass/style.scss */
.header-area .header-inner .box-right #language .dropdown-menu:after, .header-area .header-inner .box-right #language .dropdown-menu:before {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
/* line 243, ../sass/style.scss */
.header-area .header-inner .box-right #language .dropdown-menu:before {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent #343434;
  border-image: none;
  border-style: solid;
  border-width: 7px;
  opacity: 0;
  right: 10px;
  top: -12px;
  z-index: 99;
}
/* line 262, ../sass/style.scss */
.header-area .header-inner .box-right #language .dropdown-menu:after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent #343434;
  border-image: none;
  border-style: solid;
  border-width: 8px;
  right: 10px;
  top: -15px;
  z-index: 98;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 173, ../sass/style.scss */
  .header-area .header-inner {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 173, ../sass/style.scss */
  .header-area .header-inner {
    padding: 0 40px;
  }
  /* line 283, ../sass/style.scss */
  .header-area .header-inner .box-right {
    right: 70px;
    -moz-transform: translateY(65%);
    -ms-transform: translateY(65%);
    -webkit-transform: translateY(65%);
    transform: translateY(65%);
  }
  /* line 288, ../sass/style.scss */
  .header-area .header-inner .mean-container .mean-bar {
    padding: 0;
    min-height: 0;
  }
  /* line 291, ../sass/style.scss */
  .header-area .header-inner .mean-container .mean-bar a.meanmenu-reveal {
    padding: 10px 0 10px 10px;
    top: -57px;
  }
  /* line 295, ../sass/style.scss */
  .header-area .header-inner .mean-container .mean-bar .mean-nav {
    margin-top: 0;
  }
}
@media only screen and (max-width: 991px) {
  /* line 302, ../sass/style.scss */
  .header-area .header-inner .box-right {
    -moz-transform: translateY(65%);
    -ms-transform: translateY(65%);
    -webkit-transform: translateY(65%);
    transform: translateY(65%);
  }
}
@media only screen and (max-width: 767px) {
  /* line 307, ../sass/style.scss */
  .header-area .header-inner .box-right {
    right: 46px;
  }
  /* line 311, ../sass/style.scss */
  .header-area .header-inner .mean-container .mean-bar {
    padding: 0;
    min-height: 0;
  }
  /* line 314, ../sass/style.scss */
  .header-area .header-inner .mean-container .mean-bar a.meanmenu-reveal {
    padding: 10px 0 10px 10px;
    top: -57px;
  }
  /* line 318, ../sass/style.scss */
  .header-area .header-inner .mean-container .mean-bar .mean-nav {
    margin-top: 0;
  }
}

/* line 331, ../sass/style.scss */
.mean-container .mean-bar .mean-nav ul li a.mean-expand {
  top: 7px;
  margin-top: 0;
  background: transparent;
}

/* line 342, ../sass/style.scss */
.container-inner {
  position: relative;
}

/* line 346, ../sass/style.scss */
.logo-container {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  max-width: 180px;
  vertical-align: top;
  z-index: 1;
}
/* line 354, ../sass/style.scss */
.logo-container .logo {
  padding: 12px 0;
}
/* line 356, ../sass/style.scss */
.logo-container .logo img {
  height: 48px;
}

/* line 362, ../sass/style.scss */
.horizontal-menu {
  padding-left: 200px;
  padding-right: 50px;
  position: relative;
  text-align: right;
  width: 100%;
}
/* line 369, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li {
  position: relative;
  display: inline-block;
  padding: 24px 22px;
}
/* line 373, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li a {
  position: relative;
  color: #222;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
/* line 381, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li a:hover {
  color: #FC6C4D;
}
/* line 384, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li a span {
  position: relative;
}
/* line 388, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li:first-child {
  padding-left: 0;
}
/* line 392, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li.active a span {
  font-weight: bold;
}
/* line 394, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li.active a span:after {
  position: absolute;
  display: block;
  right: 0;
  bottom: -8px;
  left: 0;
  content: '';
  width: 40px;
  height: 2px;
  margin: 0 auto;
  background-color: #FC6C4D;
  z-index: -1;
}
/* line 409, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  padding: 10px 20px;
  visibility: hidden;
  background: #303030 none repeat scroll 0 0;
  opacity: 0;
  z-index: 9;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 420, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li ul > li {
  display: block;
  padding: 0;
}
/* line 423, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li ul > li > a {
  color: #ffffff;
  line-height: 20px;
  padding: 10px 8px;
  text-align: left;
}
/* line 428, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li ul > li > a:hover {
  color: #FC6C4D;
}
/* line 435, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li:hover > a {
  color: #FC6C4D;
}
/* line 438, ../sass/style.scss */
.horizontal-menu.main-menu-area ul li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

/* line 448, ../sass/style.scss */
.banner {
  position: relative;
  display: block;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
/* line 456, ../sass/style.scss */
.banner:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(138, 33, 10, 0.65);
  z-index: -1;
}
/* line 469, ../sass/style.scss */
.banner .caption {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  z-index: 1;
}
/* line 478, ../sass/style.scss */
.banner .caption h2 {
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 0.8rem;
}
/* line 486, ../sass/style.scss */
.banner .caption h2:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: -1;
}
/* line 500, ../sass/style.scss */
.banner .caption ul {
  text-align: center;
}
/* line 502, ../sass/style.scss */
.banner .caption ul li {
  display: inline-block;
}
/* line 504, ../sass/style.scss */
.banner .caption ul li a {
  color: #ffffff;
  font-weight: bold;
}
/* line 508, ../sass/style.scss */
.banner .caption ul li:after {
  display: inline-block;
  content: "-";
  padding: 0 8px;
  color: #ffffff;
}
/* line 515, ../sass/style.scss */
.banner .caption ul li:last-child:after {
  display: none;
}
@media only screen and (max-width: 576px) {
  /* line 448, ../sass/style.scss */
  .banner {
    height: 220px;
  }
}

/* line 528, ../sass/style.scss */
footer {
  background: #F0EBEB;
}
/* line 530, ../sass/style.scss */
footer.cgc-bg {
  background-color: #f4c51c;
}
/* line 533, ../sass/style.scss */
footer .footer-top {
  padding: 40px 0;
}
/* line 535, ../sass/style.scss */
footer .footer-top .logo-container {
  display: block;
  margin-bottom: 15px;
  float: none;
}
/* line 539, ../sass/style.scss */
footer .footer-top .logo-container .logo {
  padding: 0;
}
/* line 541, ../sass/style.scss */
footer .footer-top .logo-container .logo img {
  height: 48px;
}
/* line 546, ../sass/style.scss */
footer .footer-top .footer-title {
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 0.5rem;
  line-height: 28px;
  text-transform: uppercase;
}
/* line 553, ../sass/style.scss */
footer .footer-top .footer-content {
  font-size: 15px;
  font-weight: 400;
}
/* line 556, ../sass/style.scss */
footer .footer-top .footer-content p {
  margin-bottom: 0;
}
/* line 560, ../sass/style.scss */
footer .footer-top .footer-content ul li {
  display: inline-block;
  margin-right: 8px;
  line-height: 28px;
}
/* line 564, ../sass/style.scss */
footer .footer-top .footer-content ul li.footer-title {
  margin-bottom: 0;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 569, ../sass/style.scss */
footer .footer-top .footer-content ul li a {
  color: #545454;
}
/* line 571, ../sass/style.scss */
footer .footer-top .footer-content ul li a:hover {
  color: #FC6C4D;
}
/* line 578, ../sass/style.scss */
footer .footer-top .footer-content .contacts li {
  line-height: 22px;
}
/* line 581, ../sass/style.scss */
footer .footer-top .footer-content .contacts li i {
  position: absolute;
  line-height: 22px;
  font-size: 17px;
  color: #FC6C4D;
}
/* line 587, ../sass/style.scss */
footer .footer-top .footer-content .contacts li p {
  position: relative;
  padding-left: 28px;
  margin-bottom: 0.5rem;
}
/* line 591, ../sass/style.scss */
footer .footer-top .footer-content .contacts li p a {
  color: #545454;
}
/* line 593, ../sass/style.scss */
footer .footer-top .footer-content .contacts li p a:hover, footer .footer-top .footer-content .contacts li p a:active, footer .footer-top .footer-content .contacts li p a:focus {
  color: #FC6C4D;
}
/* line 603, ../sass/style.scss */
footer .footer-bottom p {
  padding: 15px 0;
  margin-bottom: 0;
  border-top: 1px solid #c4c4c4;
  font-size: 13px;
}
/* line 609, ../sass/style.scss */
footer .footer-bottom a {
  color: #f4c51c;
}
/* line 611, ../sass/style.scss */
footer .footer-bottom a:hover {
  color: #222;
}
@media only screen and (max-width: 767px) {
  /* line 618, ../sass/style.scss */
  footer .footer-top .footer-title {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  /* line 624, ../sass/style.scss */
  footer .footer-top {
    padding: 30px 0 20px;
  }
  /* line 626, ../sass/style.scss */
  footer .footer-top .logo-container {
    max-width: 250px;
    margin-bottom: 0;
  }
  /* line 630, ../sass/style.scss */
  footer .footer-top .logo-container .logo img {
    height: 67px;
  }
  /* line 637, ../sass/style.scss */
  footer .footer-top .footer-content .contacts li {
    display: block;
  }
  /* line 645, ../sass/style.scss */
  footer .footer-bottom p span {
    display: block;
  }
}

/* line 653, ../sass/style.scss */
.side-btn {
  position: fixed;
  right: 0;
  z-index: 999;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 658, ../sass/style.scss */
.side-btn span {
  position: relative;
  display: block;
  cursor: pointer;
}

/* line 665, ../sass/style.scss */
#inquiry {
  top: 25%;
}
/* line 667, ../sass/style.scss */
#inquiry a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #020202;
  color: #fff;
  font-size: 16px;
}
/* line 674, ../sass/style.scss */
#inquiry a span.zh {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 677, ../sass/style.scss */
#inquiry a span.zh.amount {
  position: relative;
}
/* line 679, ../sass/style.scss */
#inquiry a span.zh.amount:before, #inquiry a span.zh.amount:after {
  display: block;
}
/* line 683, ../sass/style.scss */
#inquiry a span.zh.amount:before {
  content: "（";
}
/* line 686, ../sass/style.scss */
#inquiry a span.zh.amount:after {
  content: "）";
}
/* line 691, ../sass/style.scss */
#inquiry a span.en {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 696, ../sass/style.scss */
#inquiry a:hover {
  background-color: #333;
}
@media only screen and (max-width: 600px) {
  /* line 665, ../sass/style.scss */
  #inquiry {
    top: 75%;
  }
  /* line 702, ../sass/style.scss */
  #inquiry a {
    font-size: 14px;
    padding: 0.3rem 0.5rem;
  }
  /* line 706, ../sass/style.scss */
  #inquiry a span.zh {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 710, ../sass/style.scss */
  #inquiry a span.en {
    padding-left: 3px;
    padding-right: 3px;
  }
}

/* line 719, ../sass/style.scss */
#bk-top {
  top: 45%;
  right: 0.15%;
  opacity: 0;
  visibility: hidden;
}
/* line 725, ../sass/style.scss */
#bk-top:hover span {
  opacity: 0.8;
}
/* line 729, ../sass/style.scss */
#bk-top.active {
  opacity: 1;
  visibility: visible;
  cursor: default;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
@media only screen and (max-width: 600px) {
  /* line 719, ../sass/style.scss */
  #bk-top {
    top: 92%;
  }
}

/* line 740, ../sass/style.scss */
.floatleft {
  float: left;
}

/* line 744, ../sass/style.scss */
.floatright {
  float: right;
}

/* line 748, ../sass/style.scss */
.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 754, ../sass/style.scss */
.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* line 760, ../sass/style.scss */
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

/* line 765, ../sass/style.scss */
.bg-white {
  background: #fff;
}

/* line 769, ../sass/style.scss */
.bg-black {
  background: #222222;
}

/* line 2, ../sass/index.scss */
.slider {
  width: 100%;
  margin-bottom: 0 !important;
  overflow: hidden;
}
/* line 6, ../sass/index.scss */
.slider .slide {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 14, ../sass/index.scss */
.slider .slide:before {
  content: '';
  display: block;
  padding-bottom: 30%;
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/index.scss */
  .slider .slide:before {
    padding-bottom: 40%;
  }
}
@media screen and (max-width: 576px) {
  /* line 14, ../sass/index.scss */
  .slider .slide:before {
    padding-bottom: 45%;
  }
}
/* line 26, ../sass/index.scss */
.slider .slick-prev {
  left: 25px;
}
/* line 29, ../sass/index.scss */
.slider .slick-next {
  right: 25px;
}
/* line 32, ../sass/index.scss */
.slider .slick-dots {
  bottom: 0;
}
/* line 36, ../sass/index.scss */
.slider .slick-dots .slick-active button:before {
  color: #FC6C4D;
}

/* line 46, ../sass/index.scss */
.news-area .single-blog-area .post-info {
  text-align: left;
}
/* line 51, ../sass/index.scss */
.news-area .single-blog-area .post-info .post-date span:not(:last-child):after {
  display: inline-block;
  content: "/";
  padding: 0 3px;
}
/* line 62, ../sass/index.scss */
.news-area .single-blog-area.news .postinfo-wrapper p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}
/* line 68, ../sass/index.scss */
.news-area .single-blog-area.news .blog-title {
  text-align: left;
}
/* line 70, ../sass/index.scss */
.news-area .single-blog-area.news .blog-title h5 {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  /* line 70, ../sass/index.scss */
  .news-area .single-blog-area.news .blog-title h5 {
    font-size: 1.05rem;
  }
}
/* line 77, ../sass/index.scss */
.news-area .single-blog-area.news .post-thumbnail,
.news-area .single-blog-area.news .blog-title,
.news-area .single-blog-area.news .postinfo-wrapper {
  margin-bottom: 10px;
}
/* line 82, ../sass/index.scss */
.news-area .single-blog-area.news .post-info {
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 87, ../sass/index.scss */
.news-area .single-blog-area.news .post-info .readmore {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  /* line 45, ../sass/index.scss */
  .news-area .single-blog-area {
    margin-bottom: 30px;
  }
}

/* line 98, ../sass/index.scss */
.parallax {
  position: relative;
  background-image: url(../img/product/DSCN6784.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 80;
}
/* line 108, ../sass/index.scss */
.parallax:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8A210A;
  opacity: 0.65;
  z-index: -1;
}
/* line 122, ../sass/index.scss */
.parallax .caption {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 129, ../sass/index.scss */
.parallax .caption h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 1rem;
}
/* line 134, ../sass/index.scss */
.parallax .caption h2 span {
  display: inline-block;
  width: 50px;
}
@media screen and (max-width: 768px) {
  /* line 98, ../sass/index.scss */
  .parallax {
    height: 300px;
  }
  /* line 143, ../sass/index.scss */
  .parallax .caption h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  /* line 98, ../sass/index.scss */
  .parallax {
    height: 250px;
  }
  /* line 152, ../sass/index.scss */
  .parallax .caption h2 span {
    display: block;
    height: 15px;
  }
}

/* line 162, ../sass/index.scss */
.products-area .section-title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0;
}
/* line 167, ../sass/index.scss */
.products-area .section-title h2 {
  margin-bottom: 0.5rem;
}
/* line 170, ../sass/index.scss */
.products-area .section-title img {
  width: 36px;
}
@media screen and (max-width: 1199px) {
  /* line 162, ../sass/index.scss */
  .products-area .section-title {
    margin-bottom: 30px;
  }
}
/* line 178, ../sass/index.scss */
.products-area .pro-catalogs .col-sm-4 {
  padding: 1rem 0;
}
/* line 180, ../sass/index.scss */
.products-area .pro-catalogs .col-sm-4 a {
  position: relative;
  font-weight: bold;
  font-size: 17px;
}
/* line 184, ../sass/index.scss */
.products-area .pro-catalogs .col-sm-4 a:after {
  position: relative;
  right: 0;
  bottom: -8px;
  left: 0;
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #c4c4c4;
  z-index: -1;
}
/* line 197, ../sass/index.scss */
.products-area .pro-catalogs .col-sm-4 a:hover:after {
  background-color: #FC6C4D;
}
/* line 201, ../sass/index.scss */
.products-area .pro-catalogs .col-sm-4 a.sp {
  color: #FC6C4D;
}
/* line 203, ../sass/index.scss */
.products-area .pro-catalogs .col-sm-4 a.sp:after {
  display: none;
}
@media screen and (max-width: 600px) {
  /* line 210, ../sass/index.scss */
  .products-area .pro-catalogs .col-sm-4 a {
    font-size: 16px;
  }
}

/* line 218, ../sass/index.scss */
.cta {
  padding: 100px 0;
  background-color: #FC6C4D;
  color: #fff;
}
/* line 222, ../sass/index.scss */
.cta h3 {
  margin-bottom: 40px;
}
/* line 225, ../sass/index.scss */
.cta p {
  margin-bottom: 30px;
}
/* line 228, ../sass/index.scss */
.cta .cta-btn {
  width: 360px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 234, ../sass/index.scss */
.cta .cta-btn .btn {
  position: relative;
  width: 150px;
  height: 40px;
  padding: 7px 15px;
  border: 1px solid #ffffff;
  color: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
}
/* line 245, ../sass/index.scss */
.cta .cta-btn .btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  -moz-transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
  -o-transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
  transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 259, ../sass/index.scss */
.cta .cta-btn .btn:hover, .cta .cta-btn .btn:focus, .cta .cta-btn .btn:active {
  color: #FC6C4D;
}
/* line 261, ../sass/index.scss */
.cta .cta-btn .btn:hover:before, .cta .cta-btn .btn:focus:before, .cta .cta-btn .btn:active:before {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media screen and (max-width: 576px) {
  /* line 228, ../sass/index.scss */
  .cta .cta-btn {
    width: 330px;
  }
}
@media screen and (max-width: 320px) {
  /* line 228, ../sass/index.scss */
  .cta .cta-btn {
    width: 290px;
  }
  /* line 271, ../sass/index.scss */
  .cta .cta-btn .btn {
    width: 130px;
  }
}

/* line 278, ../sass/index.scss */
.section-title {
  margin-bottom: 50px;
}
/* line 280, ../sass/index.scss */
.section-title h2 {
  color: #020202;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
@media screen and (max-width: 768px) {
  /* line 280, ../sass/index.scss */
  .section-title h2 {
    font-size: 1.5rem;
  }
}
